$tier-colors: #CDEDDD, #C0E9ED, #FCE6D3, #FAD9D5,#FBB7C7, #bde0fe, #E5DB9C, #beb4c5;

.tierRow {
  @for $i from 1 through 8 {
    &.tier-#{$i} {
      background-color: nth($tier-colors, $i);
    }
  }

  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
}
  
  .tierName {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 8px;
    cursor: pointer;
  }
  
  .charactersContainer {
    width: 60%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .removeButton {
    color: red;
    width: 16%;
    text-align: center;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .removeButton:hover { 
    color: rgb(133, 0, 0);

  }