@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=block");


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button-distorted {
  position: relative;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  overflow: visible;

  &::before {
      content: "";
      inset: auto;
      position: absolute;
      top: 6px;  // Displace downwards
      left: -6px; // Displace to the left
      width: 100%;
      height: 100%;
      background-color: #C0E9ED;
      border-radius: inherit;
      z-index: -1;
      box-shadow: -4px 4px 10px #9cc4c8; // Yellow glow effect
      transition: all 0.2s ease-in-out;
    }
  
    &:hover::before {
      top: 0;
      left: 0;
      box-shadow: -6px 6px 14px #90bcc0; // Stronger glow on hover
    }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}
